body {
  background-image: url(https://cdn4.vectorstock.com/i/1000x1000/84/33/seamless-floral-pattern-beige-flowers-roses-vector-6558433.jpg);
  padding: 20px;
}
h1 {text-align: center;
font-style: italic}
p {text-align: center}
.menu {
  width: 80%;
  background-color: #e5cca3;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
hr {
  height: 2px;
  background-color: #ffffff;
  border-color: #ffffff;
}
